## **Practical work N°1**

# ***ANTHONY OUM ET LAUREN RAKOTOSON***

# **Part 1: Manipulating Data with Pandas library**

In [68]:
import pandas as pd
import numpy as np

Create a small DataFrame small_df that only has the following features: title, release_date, budget,
revenue, runtime, and genres.

In [69]:
full_df = pd.read_csv('/content/movies_metadata.csv')
columns = ['title', 'release_date', 'budget', 'revenue', 'runtime', 'genres']
small_df = full_df[columns]
print(small_df)

                             title release_date    budget      revenue  \
0                        Toy Story   1995-10-30  30000000  373554033.0
1                          Jumanji   1995-12-15  65000000  262797249.0
2                 Grumpier Old Men   1995-12-22         0          0.0
3                Waiting to Exhale   1995-12-22  16000000   81452156.0
4      Father of the Bride Part II   1995-02-10         0   76578911.0
...                            ...          ...       ...          ...
45461                       Subdue          NaN         0          0.0
45462          Century of Birthing   2011-11-17         0          0.0
45463                     Betrayal   2003-08-01         0          0.0
45464             Satan Triumphant   1917-10-21         0          0.0
45465                     Queerama   2017-06-09         0          0.0

       runtime                                             genres
0         81.0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        104.0  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        101.0  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        127.0  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4        106.0                     [{'id': 35, 'name': 'Comedy'}]
...        ...                                                ...
45461     90.0  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462    360.0                      [{'id': 18, 'name': 'Drama'}]
45463     90.0  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464     87.0                                                 []
45465     75.0                                                 []

[45466 rows x 6 columns]

<ipython-input-69-32c8b567bf5b>:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  full_df = pd.read_csv('/content/movies_metadata.csv')

Check out the data types of the different features. What is the type of “budget”

In [70]:
print(small_df.dtypes)

title            object
release_date     object
budget           object
revenue         float64
runtime         float64
genres           object
dtype: object

le type de budget est object

Convert the budget feature to float using astype. What is the result?

In [73]:
small_df['budget'] = small_df['budget'].astype(float)
print(small_df['budget'].dtype)

ValueError: ignored

Il n'arrive pas a convertir budget en float car il y a au moins un element qui est un non-numeric string

Create a function to_float(number) to cast input to float and, if that fails, convert it to NaN.

In [74]:
def to_float(number):
    try:
        return float(number)
    except (ValueError, TypeError):
        return np.nan

Apply the to_float function to all values in the budget column. Check out your result by getting the
data types for all features.

In [75]:
small_df['budget']=small_df['budget'].apply(to_float)

<ipython-input-75-6630d0344550>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_df['budget']=small_df['budget'].apply(to_float)

In [76]:
print(small_df.dtypes)

title            object
release_date     object
budget          float64
revenue         float64
runtime         float64
genres           object
dtype: object

In [77]:
full_df.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

Define a new feature called “year” that represents the year of release by using the datetime
functionality from pandas as following:
o Convert release_date into pandas datetime format.
o Extract year from the datetime

In [78]:
small_df['year'] = full_df['release_date']
small_df['year'] = pd.to_datetime(small_df['year'], errors='coerce')
small_df['year'] = small_df['year'].dt.year

<ipython-input-78-4a39afe60095>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_df['year'] = full_df['release_date']
<ipython-input-78-4a39afe60095>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_df['year'] = pd.to_datetime(small_df['year'], errors='coerce')
<ipython-input-78-4a39afe60095>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_df['year'] = small_df['year'].dt.year

In [79]:
small_df.dtypes

title            object
release_date     object
budget          float64
revenue         float64
runtime         float64
genres           object
year            float64
dtype: object

 What are the oldest movies available in this dataset?

In [80]:
oldest_movie_index = small_df['year'].idxmin()
print("Oldest movies in the dataset:")
print(small_df.loc[oldest_movie_index])

Oldest movies in the dataset:
title                              Passage of Venus
release_date                             1874-12-09
budget                                          0.0
revenue                                         0.0
runtime                                         1.0
genres          [{'id': 99, 'name': 'Documentary'}]
year                                         1874.0
Name: 34940, dtype: object

Le plus vieux Movie est le Passage de Venus

What are the most successful (revenue feature) movies of all time?

In [81]:
most_successful_movie_index = small_df['revenue'].idxmax()
print("most successful in the dataset:")
print(small_df.loc[most_successful_movie_index])

most successful in the dataset:
title                                                      Avatar
release_date                                           2009-12-10
budget                                                237000000.0
revenue                                              2787965087.0
runtime                                                     162.0
genres          [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
year                                                       2009.0
Name: 14551, dtype: object

le film avec le plus gros revenue est Avatar

Create a new DataFrame new of only movies that earned more than $1 billion.

In [82]:
new = small_df[small_df['revenue'] > 1000000000]
new

,title,release_date,budget,revenue,runtime,genres,year
1639,Titanic,1997-11-18,200000000.0,1.845034e+09,194.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",1997.0
7000,The Lord of the Rings: The Return of the King,2003-12-01,94000000.0,1.118889e+09,201.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",2003.0
11008,Pirates of the Caribbean: Dead Man's Chest,2006-06-20,200000000.0,1.065660e+09,151.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",2006.0
12481,The Dark Knight,2008-07-16,185000000.0,1.004558e+09,152.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",2008.0
14551,Avatar,2009-12-10,237000000.0,2.787965e+09,162.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",2009.0
14892,Alice in Wonderland,2010-03-03,200000000.0,1.025491e+09,108.0,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",2010.0
15348,Toy Story 3,2010-06-16,200000000.0,1.066970e+09,103.0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",2010.0
17124,Pirates of the Caribbean: On Stranger Tides,2011-05-14,380000000.0,1.045714e+09,136.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",2011.0
17293,Transformers: Dark of the Moon,2011-06-28,195000000.0,1.123747e+09,154.0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",2011.0
17437,Harry Potter and the Deathly Hallows: Part 2,2011-07-07,125000000.0,1.342000e+09,130.0,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",2011.0
17818,The Avengers,2012-04-25,220000000.0,1.519558e+09,143.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",2012.0
18252,The Dark Knight Rises,2012-07-16,250000000.0,1.084939e+09,165.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",2012.0
19261,Skyfall,2012-10-25,200000000.0,1.108561e+09,143.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",2012.0
19971,The Hobbit: An Unexpected Journey,2012-11-26,250000000.0,1.021104e+09,169.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",2012.0
20830,Iron Man 3,2013-04-18,200000000.0,1.215440e+09,130.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",2013.0
22110,Frozen,2013-11-27,150000000.0,1.274219e+09,102.0,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",2013.0
23617,Transformers: Age of Extinction,2014-06-25,210000000.0,1.091405e+09,165.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",2014.0
25084,Jurassic World,2015-06-09,150000000.0,1.513529e+09,124.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",2015.0
26555,Star Wars: The Force Awakens,2015-12-15,245000000.0,2.068224e+09,136.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",2015.0
26558,Avengers: Age of Ultron,2015-04-22,280000000.0,1.405404e+09,141.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",2015.0
26567,Captain America: Civil War,2016-04-27,250000000.0,1.153304e+09,147.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",2016.0
28830,Furious 7,2015-04-01,190000000.0,1.506249e+09,137.0,"[{'id': 28, 'name': 'Action'}]",2015.0
30700,Minions,2015-06-17,74000000.0,1.156731e+09,91.0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",2015.0
36253,Zootopia,2016-02-11,150000000.0,1.023784e+09,108.0,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",2016.0
38176,Finding Dory,2016-06-16,200000000.0,1.028571e+09,97.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",2016.0
41489,Rogue One: A Star Wars Story,2016-12-14,200000000.0,1.056057e+09,133.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",2016.0
42222,Beauty and the Beast,2017-03-16,160000000.0,1.262886e+09,129.0,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",2017.0
43255,The Fate of the Furious,2017-04-12,250000000.0,1.238765e+09,136.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",2017.0
44009,Despicable Me 3,2017-06-15,80000000.0,1.020063e+09,96.0,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",2017.0

Create another new DataFrame new2 of only movies earned more than 1 billion, but where the
budget less than 150 million.

In [83]:
new2 = new[new['budget'] < 150000000]
new2

,title,release_date,budget,revenue,runtime,genres,year
7000,The Lord of the Rings: The Return of the King,2003-12-01,94000000.0,1.118889e+09,201.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",2003.0
17437,Harry Potter and the Deathly Hallows: Part 2,2011-07-07,125000000.0,1.342000e+09,130.0,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",2011.0
30700,Minions,2015-06-17,74000000.0,1.156731e+09,91.0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",2015.0
44009,Despicable Me 3,2017-06-15,80000000.0,1.020063e+09,96.0,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",2017.0

# **Part 2: Building a simple recommender**

1. Calculate the weighted rating score.

In [84]:
columns = ['title', 'vote_count', 'vote_average', 'runtime']
df = pd.read_csv('movies_metadata.csv', usecols=columns)

# convertion du vote_count en float
df['vote_count'] = df['vote_count'].apply(to_float)

# calcul du mean rating de tout les films le C
C = df['vote_average'].mean()

# calcul du nombre min of votes en utilisant quantile le m
m = df['vote_count'].quantile(0.8)

In [85]:
def weighted_rating(row, m=m, C=C):
    v = row['vote_count']
    R = row['vote_average']
    if v >= m and row['runtime'] >= 45 and row['runtime'] <= 300:
        return (v / (v + m)) * R + (m / (v + m)) * C
    else:
        return 0

2. Add the score as a feature to the dataframe, by using Apply function.

In [86]:
df['score'] = df.apply(weighted_rating, axis=1)

3. Sort the dataframe on the basis of the score just computed.

In [87]:
df = df.sort_values(by='score', ascending=False)

4. Output the list of top movies.

In [88]:
top_movies = df[['title', 'score']].head(15)
print("Top Movies:")
print(top_movies)

Top Movies:
                                 title     score
10309      Dilwale Dulhania Le Jayenge  8.855148
314           The Shawshank Redemption  8.482863
834                      The Godfather  8.476278
40251                       Your Name.  8.366584
12481                  The Dark Knight  8.289115
2843                        Fight Club  8.286216
292                       Pulp Fiction  8.284623
522                   Schindler's List  8.270109
23673                         Whiplash  8.269704
5481                     Spirited Away  8.266628
2211                 Life Is Beautiful  8.263691
1178            The Godfather: Part II  8.261335
1152   One Flew Over the Cuckoo's Nest  8.256051
1176                            Psycho  8.245381
351                       Forrest Gump  8.184252

# **Part 3: Implement a user-based collaborative filtering system**

1. Using the data in ratings_small.csv, construct the user rating matrix (where the rows represent the
users, and the columns the movies).

In [89]:
ratings_df = pd.read_csv('ratings_small.csv')

user_rating_matrix = ratings_df.pivot(index='userId', columns='movieId', values='rating')

print("User Rating Matrix:")
print(user_rating_matrix)

User Rating Matrix:
movieId  1       2       3       4       5       6       7       8       \
userId
1           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
3           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
5           NaN     NaN     4.0     NaN     NaN     NaN     NaN     NaN
...         ...     ...     ...     ...     ...     ...     ...     ...
667         NaN     NaN     NaN     NaN     NaN     4.0     NaN     NaN
668         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
669         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
670         4.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN
671         5.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN

movieId  9       10      ...  161084  161155  161594  161830  161918  161944  \
userId                   ...
1           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
2           NaN     4.0  ...     NaN     NaN     NaN     NaN     NaN     NaN
3           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
4           NaN     4.0  ...     NaN     NaN     NaN     NaN     NaN     NaN
5           NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
...         ...     ...  ...     ...     ...     ...     ...     ...     ...
667         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
668         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
669         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
670         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN
671         NaN     NaN  ...     NaN     NaN     NaN     NaN     NaN     NaN

movieId  162376  162542  162672  163949
userId
1           NaN     NaN     NaN     NaN
2           NaN     NaN     NaN     NaN
3           NaN     NaN     NaN     NaN
4           NaN     NaN     NaN     NaN
5           NaN     NaN     NaN     NaN
...         ...     ...     ...     ...
667         NaN     NaN     NaN     NaN
668         NaN     NaN     NaN     NaN
669         NaN     NaN     NaN     NaN
670         NaN     NaN     NaN     NaN
671         NaN     NaN     NaN     NaN

[671 rows x 9066 columns]

2. This matrix will be sparse (lot of unknown values), explain why. Propose a way to fill in the missing
values and justify it. Implement it to have a matrix without missing values.

Il y a plein de valeurs inconnues car les utilisateurs pas non pas forcement vue ou noté tout les films existants. On implemente les valeurs manquantes par colonne en donnant la moyenne obtenu par celui-ci car cela permet de mieux comprendre comment la plupart des gens ont aimé chaque film,et non par ligne car si on prenait la moyenne par utilisateur, chaque personne a des goûts différents, ce qui rendrait difficile la comparaison entre les films.

In [90]:
# Calcul de la moyenne de chaque colonnes
column_means = user_rating_matrix.mean()
column_means

movieId
1         3.872470
2         3.401869
3         3.161017
4         2.384615
5         3.267857
            ...
161944    5.000000
162376    4.500000
162542    5.000000
162672    3.000000
163949    5.000000
Length: 9066, dtype: float64

In [91]:
# On remplis les Valeurs NaN par ce qu'on a obtenu au dessus
user_rating_matrix_avec_moyenne = user_rating_matrix.fillna(column_means)
user_rating_matrix_avec_moyenne

movieId,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
userId,,,,,,,,,,,,,,,,,,,,,
1,3.87247,3.401869,3.161017,2.384615,3.267857,3.884615,3.283019,3.8,3.15,3.45082,...,2.5,0.5,3.0,1.0,1.5,5.0,4.5,5.0,3.0,5.0
2,3.87247,3.401869,3.161017,2.384615,3.267857,3.884615,3.283019,3.8,3.15,4.00000,...,2.5,0.5,3.0,1.0,1.5,5.0,4.5,5.0,3.0,5.0
3,3.87247,3.401869,3.161017,2.384615,3.267857,3.884615,3.283019,3.8,3.15,3.45082,...,2.5,0.5,3.0,1.0,1.5,5.0,4.5,5.0,3.0,5.0
4,3.87247,3.401869,3.161017,2.384615,3.267857,3.884615,3.283019,3.8,3.15,4.00000,...,2.5,0.5,3.0,1.0,1.5,5.0,4.5,5.0,3.0,5.0
5,3.87247,3.401869,4.000000,2.384615,3.267857,3.884615,3.283019,3.8,3.15,3.45082,...,2.5,0.5,3.0,1.0,1.5,5.0,4.5,5.0,3.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,3.87247,3.401869,3.161017,2.384615,3.267857,4.000000,3.283019,3.8,3.15,3.45082,...,2.5,0.5,3.0,1.0,1.5,5.0,4.5,5.0,3.0,5.0
668,3.87247,3.401869,3.161017,2.384615,3.267857,3.884615,3.283019,3.8,3.15,3.45082,...,2.5,0.5,3.0,1.0,1.5,5.0,4.5,5.0,3.0,5.0
669,3.87247,3.401869,3.161017,2.384615,3.267857,3.884615,3.283019,3.8,3.15,3.45082,...,2.5,0.5,3.0,1.0,1.5,5.0,4.5,5.0,3.0,5.0
670,4.00000,3.401869,3.161017,2.384615,3.267857,3.884615,3.283019,3.8,3.15,3.45082,...,2.5,0.5,3.0,1.0,1.5,5.0,4.5,5.0,3.0,5.0
671,5.00000,3.401869,3.161017,2.384615,3.267857,3.884615,3.283019,3.8,3.15,3.45082,...,2.5,0.5,3.0,1.0,1.5,5.0,4.5,5.0,3.0,5.0

3. Calculate the cosine similarity for each pair of users, in order to obtain a user-user similarity matrix.

In [92]:
#Calcul du cosine similarity grace a la matrice contenant les moyennes au lieux du NaN
from sklearn.metrics.pairwise import cosine_similarity

matrice_similarite = cosine_similarity(user_rating_matrix_avec_moyenne)
matrice_similarite = pd.DataFrame(matrice_similarite, index=user_rating_matrix_avec_moyenne.index, columns=user_rating_matrix_avec_moyenne.index)

matrice_similarite

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.999553,0.999716,0.998778,0.999540,0.999586,0.999544,0.999579,0.999740,0.999730,...,0.999662,0.999803,0.999035,0.998291,0.999631,0.999671,0.999781,0.999783,0.999629,0.999607
2,0.999553,1.000000,0.999596,0.998660,0.999427,0.999456,0.999471,0.999436,0.999595,0.999592,...,0.999527,0.999674,0.998904,0.998074,0.999462,0.999476,0.999640,0.999650,0.999441,0.999491
3,0.999716,0.999596,1.000000,0.998832,0.999571,0.999605,0.999602,0.999601,0.999746,0.999762,...,0.999679,0.999838,0.999059,0.998292,0.999728,0.999719,0.999805,0.999834,0.999649,0.999632
4,0.998778,0.998660,0.998832,1.000000,0.998695,0.998725,0.998660,0.998708,0.998843,0.998835,...,0.998768,0.998926,0.998180,0.997489,0.998729,0.998804,0.998907,0.998904,0.998766,0.998752
5,0.999540,0.999427,0.999571,0.998695,1.000000,0.999458,0.999433,0.999437,0.999588,0.999609,...,0.999539,0.999668,0.998941,0.998242,0.999471,0.999527,0.999631,0.999658,0.999495,0.999454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,0.999671,0.999476,0.999719,0.998804,0.999527,0.999575,0.999555,0.999571,0.999718,0.999727,...,0.999642,0.999791,0.999024,0.998304,0.999645,1.000000,0.999780,0.999770,0.999609,0.999583
668,0.999781,0.999640,0.999805,0.998907,0.999631,0.999683,0.999666,0.999672,0.999831,0.999845,...,0.999749,0.999900,0.999135,0.998374,0.999727,0.999780,1.000000,0.999881,0.999737,0.999696
669,0.999783,0.999650,0.999834,0.998904,0.999658,0.999684,0.999674,0.999672,0.999825,0.999834,...,0.999767,0.999904,0.999155,0.998404,0.999729,0.999770,0.999881,1.000000,0.999741,0.999708
670,0.999629,0.999441,0.999649,0.998766,0.999495,0.999539,0.999511,0.999540,0.999667,0.999655,...,0.999606,0.999748,0.998991,0.998252,0.999550,0.999609,0.999737,0.999741,1.000000,0.999549
671,0.999607,0.999491,0.999632,0.998752,0.999454,0.999545,0.999503,0.999474,0.999643,0.999654,...,0.999597,0.999719,0.998954,0.998274,0.999547,0.999583,0.999696,0.999708,0.999549,1.000000

4. Implement a function to return the n nearest neighbors of a given user in the sense of the calculated
similarity.

In [96]:
#On prend les valeurs 5 premier id dont les valeurs sont les plus grandes de la ligne du user_id choisi
def get_nearest_neighbors(user_id, n_neighbors=5):

    similarity_scores = matrice_similarite[user_id]
    sorted_users = sorted(enumerate(similarity_scores), key=lambda x: x[1], reverse=True)
    nearestneighbors = [user for user, _ in sorted_users[1:n_neighbors+1]]

    return nearestneighbors

nearest_neighbors = get_nearest_neighbors(user_id=1, n_neighbors=5)
print(f"Le top 5 des voisins les plus proches de l'utilisateur 1 sont {nearest_neighbors}")

Le top 5 des voisins les plus proches de l'utilisateur 1 sont [582, 437, 334, 75, 23]

On recupere donc a la fin les 50 premiers movieids qu'on recommande a l'utilisateurs 1

In [144]:
import pandas as pd
def recommend_movies(user_id, k,n_neighbors):

  ratings_df = pd.read_csv('ratings_small.csv')

  #on recupere la matrice de notation avec les NaN
  rating_matrix = ratings_df.pivot(index='userId', columns='movieId', values='rating')

  #ici on recupere tout les films non vue par user_id
  user_ratings = rating_matrix.loc[user_id].dropna()
  unrated_movie_columns = rating_matrix.columns[~rating_matrix.columns.isin(user_ratings.index)]
  #print(unrated_movie_columns)

  #On recupere les 5 nearest_neighbors de User_id avec la fonction precedente get_nearest_neighbors
  nearest_neighbors = get_nearest_neighbors(user_id, n_neighbors)
  user_rating_matrix_neighbors = rating_matrix.loc[nearest_neighbors]
  #print(user_rating_matrix_neighbors)

  #On fait un filtre on enleve tout les films vue par user_id puis tout ceux qui non pas etait vue par au moins un des plus proche voisin avec ce qu'on a obtenu au dessus
  user_rating_matrix_neighbors = user_rating_matrix_neighbors[unrated_movie_columns]
  user_rating_matrix_neighbors_cleaned = user_rating_matrix_neighbors.dropna(axis=1, how='all')

  #On prend les scores de similarite des voisins
  matrice_similarite = cosine_similarity(user_rating_matrix_avec_moyenne)
  matrice_similarite = pd.DataFrame(matrice_similarite, index=user_rating_matrix_avec_moyenne.index, columns=user_rating_matrix_avec_moyenne.index)
  similarity_scores = matrice_similarite.loc[user_id, nearest_neighbors]
  print(similarity_scores)

  #on multiplie chaque score donner par les plus proches voisins par son score de similarite
  weighted_user_ratings = user_rating_matrix_neighbors_cleaned.mul(similarity_scores, axis=0)
  #print(weighted_user_ratings)

  # Somme des scores de similarité
  column_sums = weighted_user_ratings.sum(axis=0)
  #print(column_sums)


  similarity_scores=similarity_scores.tolist()
  # Créez une liste pour stocker les sommes pondérées des scores de similarité par colonne
  sum_similarity_scores = []


  # On va recuperer la sum de similarité utiliser par colonne
  for column_name, column_data in user_rating_matrix_neighbors_cleaned.iteritems():
    total_similarity_score = sum(
        similarity_scores[i]
        for i, rating in enumerate(column_data) if pd.notna(rating)
    )
    sum_similarity_scores.append(total_similarity_score)

  #print(sum_similarity_scores)
  #print(column_sums)


  # Divise chaque chaque element de column_sums par sum_similarity_scores
  normalized_column_sums = column_sums / sum_similarity_scores
  #print(normalized_column_sums)

  # et on sort par ordre croissant
  sorted_normalized_column_sums = normalized_column_sums.sort_values(ascending=False)

  #print(sorted_normalized_column_sums)

  #Puis on recuperer les 10 premiers film
  top_10_movies = sorted_normalized_column_sums.head(k)

  return top_10_movies

user=1
recommended_movies = recommend_movies(user_id=user, k=50, n_neighbors=5)
print("recommendation des 10 premiers films pour l'User ",user)
print(recommended_movies)

userId
582    0.999062
437    0.999786
334    0.999762
75     0.998891
23     0.998135
Name: 1, dtype: float64
recommendation des films pour l'User  1
movieId
2321     5.000000
1097     5.000000
7320     5.000000
6732     5.000000
232      5.000000
1267     5.000000
2351     5.000000
6918     5.000000
1251     5.000000
3949     5.000000
5902     5.000000
3310     5.000000
954      5.000000
4188     5.000000
5989     5.000000
5992     5.000000
4054     5.000000
3083     5.000000
6016     5.000000
8955     5.000000
8880     5.000000
1213     5.000000
3176     5.000000
1280     5.000000
3067     5.000000
1860     5.000000
1682     5.000000
4914     5.000000
4963     5.000000
2731     5.000000
4967     5.000000
26242    5.000000
3386     5.000000
2068     5.000000
99114    5.000000
912      5.000000
5064     5.000000
2186     5.000000
2692     5.000000
111      5.000000
5225     5.000000
1748     5.000000
7136     5.000000
2096     5.000000
296      4.833516
3462     4.750204
4308     4.750116
908      4.749905
33166    4.749905
923      4.749905
dtype: float64

<ipython-input-144-15d3298bd470>:44: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column_name, column_data in user_rating_matrix_neighbors_cleaned.iteritems():